.contact__container {
    background: #222;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.contact__container h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #fff;
}

.contact__container h2 span {
    font-weight: 800;
}

.contact__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
    gap: 3rem;
}

form input, form textarea {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    background: #333;
    border: 1px solid transparent;
    resize: none;
    padding: .8rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 1rem;
}

form textarea {
    height: 10rem;
}

.btn {
    padding: .8rem 1.3rem;
    width: max-content;
    border-radius: 1.3rem;
}

.contact__card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: max-content;
    gap: 1rem;
}

.card-item {
    padding: .9rem;
    background: #333;
    color: #fff;
}

.card-icon {
    font-size: 2rem;
}

.card-item h3 {
    font-weight: 300;
}

.card-item small {
    color: #6c757d;
}

@media screen and (max-width: 1024px) {
    .contact__content {
        grid-template-columns: 1fr;
        width: 95%;
        gap: 2rem;
    }

    .contact__card-list {
        order: 1;
    }
    form {
        order: 2;
    }
}

@media screen and (max-width: 600px) {
    .contact__card-list {
        grid-template-columns: 1fr;
    }
}