.navbar__fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 2rem;
    position: sticky;
    top: 0;
    background: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .5);
    z-index: 2;
}

.navbar__brand h1 {
    color: #222;
}

.navigation__fixed {
    display: flex;
    list-style: none;
    gap: 2rem;
}

a {
    color: #222;
    text-decoration: none;
}

.active {
    color: #fff;
}


@media screen and (max-width: 600px) {
    .navbar__fixed {
      display: none;
    }

    body {
        margin-top: 0;
    }
}