.testimonials__container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    background: #222;
}

.testimonials__container h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #fff;
}

.testimonials__container h2 span {
    font-weight: 800;
}

.testimonials__content {
    width: 35%;
    margin: 0 auto;
}

.testimonial-card {
    padding: 4rem;
    background: #333;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 4rem;
}

.testimonial-card img {
    width: 4rem;
    border-radius: 50%;
}

.testimonial-card h3 {
    font-weight: 300;
    margin: .5rem;
    color: #fff;
}

.testimonial-card small {
    color: #6c757d;
}

@media screen and (max-width: 1024px) {
    .testimonials__content {
        width: 50%;
    }

    .testimonial-card {
        padding: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .testimonials__content {
        width: 95%;
    }

    .testimonial-card {
        padding: 2rem;
    }
}