@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  scroll-behavior: smooth;
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.btn {
  padding: .6rem 1.5rem;
  border: 1px solid transparent;
  background: #6c757d;
  border-radius: 1.2rem;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
}

.btn:hover {
  background: #5e6469;
}

.btn-primary {
  background: #bac964;
}

.btn-primary:hover {
  background: #97a15c;
}